<!--節の追加(管理者側) -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>節の追加</h1>
    <div class="basic-box">
  <h3><span class="label label-default">新しい節の情報を入力してください</span></h3><br>

<%= render 'form', post: @section %>

</div>

<%= link_to "戻る", :back, class: 'btn btn-default' %>
</main>