// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//お問い合わせフォーム(ユーザー側)
.inquiry-box {
   width: 100%;
   padding: 50px;
   margin-top: 30px;
   background-color: whitesmoke;
   borde: 1px solid black;
 }

//お問い合わせ一覧(管理者側)
.inquiry-box-left {
  width: 30%;
  padding: 20px 0 0 20px;
  text-align: left;
  background-color: whitesmoke;
  float: left;
}
.inquiry-box-right {
  width: 70%;
  padding: 20px;
  margin: 0px;
  text-align: left;

  background-color: whitesmoke;
  float: left;
}
.inquiry-box-bottom {
  width: 100%;
  padding: 20px;
  margin: 0px;
  background-color: whitesmoke;
  float: left;
}