// Place all the styles related to the my_recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//マイレシピ一覧
.my_recipe-box {
  width: 100%;
  padding: 0px;
  margin: 50px 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}
.my_recipe-box-left {
  width: 30%;

  padding: 20px;
  background-color: whitesmoke;
  float: left;
}
.my_recipe-box-right {
  width: 70%;

  padding: 20px;
  margin: 0px;
  background-color: whitesmoke;
  float: left;
}
.my_recipe-image {
  width: 150px;
  height: 150px;
  margin: 0px auto;
  background-position: center;
  background-size: cover;
  border-radius: 0%;
}