// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//節の詳細ページ
.next_botton {
	float: right;
	margin-right: 20px;
}
.back_botton {
	float: left;
	margin-left: 20px;
}

.section-basic-box {
  width: 100%;
  margin: 20px auto;
  padding: 30px 30px 30px;
  background-color: white;
  border: 1px solid black;
}
.section-text-box {
  width: 100%;
  padding: 0px;
  margin: 50px 10px;
  color: #333333;
  background-color: white;
}
.merit {
	font-size: 20px;
}


